.search-result {
  flex-basis: 35%;
  max-width: 35%;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.search-result-title {
  margin: 0 0 2rem;
}

.search-result-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
