.property-item {
  background-color: #fff;
  margin-bottom: 1rem;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
}
.property-item:last-child {
  margin-bottom: 0;
}

.property-item.active {
  border-color: var(--color-green);
}

.property-item-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.property-item-image {
  flex-basis: 40%;
  max-width: 40%;
}

.property-item-content {
  flex-basis: 60%;
  max-width: 60%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.property-item-title {
  margin: 0;
}

.property-item-street {
  margin: 0;
  font-style: italic;
  color: #333;
}

.property-item-rent {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.property-item-room-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.property-item-info {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.property-item-favorite {
  width: 40px;
  height: 35px;
  background-color: #dbdbdb;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.property-item-favorite:hover {
  color: red;
  background-color: transparent;
}
.property-item-favorite.selected {
  color: red;
  background-color: transparent;
}

.money {
  font-weight: 600;
  font-size: 18px;
}

.block {
  display: block;
  margin-left: 0.5rem;
}

img {
  max-width: 100%;
  height: auto;
}
