.filters {
  flex-basis: 20%;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-right: 1px solid #e7e9ef;
}

.filters-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters-title {
  margin: 0;
}

.filters-button {
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--color-green);
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
  padding: 0;
}
