.filters {
  flex-basis: 20%;
  max-width: 20%;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-right: 1px solid #e7e9ef;
}

.filters-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters-title {
  margin: 0;
}

.filters-button,
.filters-reset-button {
  cursor: pointer;
  font-weight: 600;
  outline: none;
  border: none;
}

.filters-reset-button {
  background-color: transparent;
  color: var(--color-green);
  font-size: 15px;
  line-height: 20px;
  padding: 0;
}

.filters-button {
  background-color: var(--color-green);
  color: var(--color-white);
  font-size: 16px;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}
