* {
  box-sizing: border-box;
}

:root {
  --color-green: #5ca67d;
  --color-lime: #a3fdc7;
  --color-black: #0b0f1f;
  --color-white: #f4f5fb;
}

body {
  margin: 0;
  font-family:
    "Outfit",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
